{% extends 'base.twig' %}
{% block css %}
    <style type="text/css">
        img.img-responsive {
            margin: 0 auto;
        }
        .step h3.popover-title {
            margin-bottom: 0;
        }
        body {
            overflow: hidden;
        }
    </style>
{% endblock %}
{% block content %}
    <!--
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-title">
                <h2>{{clockDrawingTest}}</h2>
            </div>
        </div>
    </div>
    -->
    <section class="container" id="main">

        <!-- Start Survey container -->
        <div id="survey_container">
            <!--
            <div id="top-wizard">
                <strong>Progress <span id="location"></span></strong>
                <div id="progressbar"></div>
                <div class="shadow"></div>
            </div><!-- end top-wizard -->

            <form name="clockDrawingTest" id="wrapped" action="" method="POST">
                <!-- Eye Test start -->
                <div id="middle-wizard">
                    <div class="step row">
                        <div class="col-md-12" style="text-align: center">
                            <h4>{{clockDrawingTestInstructions | raw }}</h4>
                        </div>
                    </div><!--Instructions-->

                    <!-- Drawing Testt -->
                    <div class="step row">
                        <div class="col-md-12">
                            <canvas id="clockTest" class="center-block" width="600" height="440" style="border:1px solid #000000;"></canvas>
                        </div>
                    </div><!-- Question One -->

                    <div class="submit step" id="complete">
                        <i class="icon-check"></i>
                        <h3>Test complete!</h3>
                        <p>On to the next test</p>
                        <button type="submit" name="process" class="submit">Submit</button>
                    </div><!-- end submit step -->
                </div>
                <input type="hidden" id="timer" name="drawingTimes"  value=0>
                <div id="bottom-wizard">
                    <button type="button" name="backward" class="backward">Backward</button>
                    <button id="ForwardButton" type="button" name="forward" class="forward">Forward</button>
                </div><!-- end bottom-wizard -->
            </form>
        </div><!-- end Survey container -->
    </section>
{% endblock %}
{% block extra %}{% endblock %}
{% block script %}
    <script type="text/javascript" src="/assets/js/jcanvas.min.js"></script>
    <script type="text/javascript" src="/assets/js/jTimer.js"></script>
    <script>
        $(document).ready(function() {
            var $canvas2 = $("#clockTest");
            var ptsArray = [];
            var lineObj= {};
            var isDown = false;
            var movingVar = 0;

            var drawingObject = {
                mousedown: function (layer) {
                    movingVar++;

                    lineObj = {
                        layer: true,
                        type: 'line',
                        name: "practice" + movingVar,
                        strokeStyle: "#000",
                        strokeWidth: 2
                    };

                    isDown = true;
                    ptsArray.push([layer.eventX, layer.eventY]);

                    $(this).addLayer(lineObj).drawLayers();
                    $(this).moveLayer("practice" + movingVar, 0);
                },
                mousemove: function (layer) {
                    if (isDown) {
                        ptsArray.push([layer.eventX, layer.eventY]);
                        for (var p = 0; p < ptsArray.length; p += 1) {
                            lineObj['x' + (p + 1)] = ptsArray[p][0];
                            lineObj['y' + (p + 1)] = ptsArray[p][1];
                        }
                        $(this).drawLine(lineObj);
                    }
                },
                mouseup: function (layer) {
                    $(this).setLayer("practice" + movingVar, lineObj).drawLayers();

                    lineObj = {};
                    ptsArray = [];
                    isDown = false;
                },
                mouseout: function (layer) {
                    $(this).setLayer("practice" + movingVar, lineObj).drawLayers();
                }
            };

            $canvas2.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 600, height: 440,
                fromCenter: false,
                name: 'clockTest'
            }).setLayer('clockTest', drawingObject);


                //Submission of test
                $('form').on('submit', function(e) {
                    var c = document.getElementById("clockTest");
                    var userID = getUrlVars()['id'];
                    var dataURL = c.toDataURL("image/png");
                    /*window.open(c.toDataURL('image/png'));*/

                    var data = {
                        imgBase64: dataURL,
                        name: "clockDrawing"
                    };
console.log('submit');
                    $.post("http://api.girlscouts.harryatwal.com/participant/" + userID + "/clockDrawing", data)
                            .done(function (o) {
                                console.log('saved');
                            });

                    e.preventDefault();

//                    $.ajax({
//                        type: "POST",
//                        url: " http://api.girlscouts.harryatwal.com/participant/" + id + "/clockDrawing",
//                        data: {
//                            imgBase64: dataURL
//                        }
//                    }).done(function (o) {
//                        console.log('saved');
//                    });
                });

        });



    </script>
{% endblock %}
