{% extends 'base.twig' %}

{% block title %}Rey Complex Figure task{% endblock %}
{% block css %}
    <style type="text/css">
        img.img-responsive {
            margin: 0 auto;
        }

        .step h3.popover-title {
            margin-bottom: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <!--
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-title">
                <h1>{{ RCFT }}</h1>
            </div>
        </div>
    </div>
    -->
    <section class="container" id="main">
        <!-- Start Survey container -->
        <div id="survey_container">
            <!--
            <div id="top-wizard">
                <strong>Progress <span id="location"></span></strong>
                <div id="progressbar"></div>
                <div class="shadow"></div>
            </div>
            end top-wizard -->

            <form name="reyComplexFigure4" id="wrapped" action="" method="POST">
                <!-- RCFT1 -->
                <div id="middle-wizard">

                    <div class="step row">
                        <div class="col-md-12" style="text-align: center">
                            <h4>
                                {{ RCFTInsructions4 | raw }}
                            </h4>
                        </div>
                    </div>
                    <!-- Part 4 questions -->
                    <!-- Part 4- 1 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT1.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-1" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-1" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 2 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT2.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-2" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-2" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 3 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT3.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-3" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-3" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 4 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT4.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-4" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-4" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 5 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT5.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-5" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-5" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 6 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT6.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-6" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-6" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 7 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT7.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-7" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-7" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 8 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT8.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-8" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-8" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 9 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT9.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-9" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-9" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 10 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT10.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-10" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-10" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 11 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT11.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-11" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-11" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 12 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT12.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-12" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-12" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 13 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT13.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-13" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-13" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 14 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT14.png" height="600"/>
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-14" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-14" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 15 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT15.png" height="600"/>
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-15" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-15" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 16 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT16.png" height="600"/>
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-16" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-16" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 17 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT17.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-17" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-17" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 18 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT18.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-18" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-18" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 19 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT19.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-19" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-19" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 20 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT20.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-20" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-20" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 21 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT21.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-21" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-21" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 22 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT22.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-22" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-22" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 23 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT23.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-23" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-23" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Part 4- 24 -->
                    <div class="step">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="/assets/img/RCFT/RCFT24.png"  /> <!--class="img-responsive"--> 
                                <br><br>
                                <ul class="data-list-2">
                                    <li><input name="RCFT4-24" type="radio" class="check_radio" value="Yes" required><label>Yes </label></li>
                                    <li><input name="RCFT4-24" type="radio" class="check_radio" value="No" required><label>No </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="submit step" id="complete">
                        <i class="icon-check"></i>
                        <h3>Test complete!</h3>
                        <button type="submit" name="process" class="submit">Submit</button>
                    </div><!-- end submit step -->
                </div>

                <div id="bottom-wizard">
                    <button id="backwardButton" type="button" name="backward" class="backward">Backward</button>
                    <button id="forwardButton" type="button" name="forward" class="forward">Forward</button>
                </div><!-- end bottom-wizard -->
            </form>
        </div><!-- end Survey container -->
    </section>
{% endblock %}
{% block extra %}{% endblock %}
{% block script %}
    <script type="text/javascript" src="/assets/js/jcanvas.min.js"></script>
    <script type="text/javascript" src="/assets/js/jTimer.js"></script>
    <script>
        $(document).ready(function () {
            var id = getUrlVars()['id'];
            // Form submit
            $('form').on('submit', function (e) {
                $.post('http://api.girlscouts.harryatwal.com/participant/' + id + '/reyComplexFigure4', $(this).serialize())
                        .done(function (data) {
                            /*$('button[name="forward"]').trigger('click');*/
                        });
                callNativeApp();
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
