{% extends 'base.twig' %}

{% block title %}Rey Complex Figure task{% endblock %}
{% block css %}
    <style type="text/css">
        img.img-responsive {
            margin: 0 auto;
        }

        .step h3.popover-title {
            margin-bottom: 0;
        }
    </style>
{% endblock %}
{% block content %}
     <!--
     <div class="container">
        <div class="row">
            <div class="col-md-12 main-title">
                <h1>{{ RCFT }}</h1>
            </div>
        </div>
    </div>
    -->
    <section class="container" id="main">

        <!-- Start Survey container -->
        <div id="survey_container">
            <!--
            <div id="top-wizard">
                <strong>Progress <span id="location"></span></strong>
                <div id="progressbar"></div>
                <div class="shadow"></div>
            </div>
            <!-- end top-wizard -->

            <form name="reyComplexFigure1" id="wrapped" action="" method="POST">
                <!-- RCFT1 -->
                <div id="middle-wizard">

                    <div class="step row">
                        <div class="col-md-12" style="text-align: center">
                            <h4>
                                {{ RCFTInstructions | raw }}
                            </h4>
                        </div>
                    </div>

                    <div class="step row">
                        <div id="canvas-drawing">
                            <canvas id='RCFTPractice' class="center-block" width="800" height="450" style="border:1px solid #000000;"></canvas>
                        </div>
                        <br>
                        <h4>Click Forward Once you are done practicing.</h4>
                    </div>

                    <div class="step row">
                        <div class="col-md-12" style="text-align: center">
                            <h4>
                                {{ RCFTInsructions1 | raw }}
                            </h4>
                        </div>
                    </div>

                    <!-- Split screen RCFT -->
                    <div class="step">
                        <div class="container-fluid">
                            <div class="row" >
                                    <div class="col-sm-6">
                                        <img src="/assets/img/RCFT/RCFT%20Copy%20Figure.png" alt="Smiley face" width="420" height="310" class="center-block">
                                    </div>
                                    <div class="col-sm-6">
                                        <canvas id='RCFT1' class="center-block"  width="460" height="470"  style="border:1px solid #000000;"></canvas>
                                    </div>
                            </div>
                        </div>
                        <input type="hidden" id="timer" name="drawingTimes"  value=0>
                        <br>
                        <!-- <button type="button" class="btn center-block" id="par1Submit" onClick="RCFsubmitOne" >Done</button> -->
                    </div>


                    <div class="submit step" id="complete">
                        <i class="icon-check"></i>
                        <h3>Test complete!</h3>
                        <button type="submit" name="process" class="submit">Submit</button>
                    </div><!-- end submit step -->
                    </div>

                    <div id="bottom-wizard">
                        <!-- <button id="backwardButton" type="button" name="backward" class="backward" disabled >Backward</button> -->
                        <button id="forwardButton" type="button" name="forward" class="forward">Forward</button>
                    </div><!-- end bottom-wizard -->
            </form>
        </div><!-- end Survey container -->
    </section>
{% endblock %}
{% block extra %}{% endblock %}
{% block script %}
    <script type="text/javascript" src="/assets/js/jcanvas.min.js"></script>
    <script type="text/javascript" src="/assets/js/jTimer.js"></script>
    <script>
        $(document).ready(function () {
            //Disable the ability to go backwards.
            $('#backwardButton').prop('disabled', true);
            var $canvasPractice = $("#RCFTPractice");
            var ptsPractice = [];
            var line_objPractice = {};
            var isDownPractice = false;
            var $canvas1 = $("#RCFT1");
            var practice_name = 0;
            //Timers for the drawing stuff
            var timerStartedYet = 0;

            var drawingObject = {
                mousedown: function (layer) {
                    //Check to see if this is the users first time drawing, if it is, start time, set bool to true
                    if(timerStartedYet == 0 && this.id == 'RCFT1'){
                        //Set the field to the start value
                        var timeStart = performance.now();
                        document.getElementById('timer').value = timeStart;
                        timerStartedYet =1;
                        console.log("Start time " + timeStart);
                    }
                    practice_name++;
                    line_objPractice = {
                        layer: true,
                        type: 'line',
                        name: "practice" + practice_name,
                        strokeStyle: "#000",
                        strokeWidth: 2
                    };

                    isDownPractice = true;
                    ptsPractice.push([layer.eventX, layer.eventY]);

                    $(this).addLayer(line_objPractice).drawLayers();
                    $(this).moveLayer("practice" + practice_name, 0);
                },
                mousemove: function (layer) {
                    if (isDownPractice) {
                        ptsPractice.push([layer.eventX, layer.eventY]);
                        for (var p = 0; p < ptsPractice.length; p += 1) {
                            line_objPractice['x' + (p + 1)] = ptsPractice[p][0];
                            line_objPractice['y' + (p + 1)] = ptsPractice[p][1];
                        }
                        $(this).drawLine(line_objPractice);
                    }
                },
                mouseup: function (layer) {
                    $(this).setLayer("practice" + practice_name, line_objPractice).drawLayers();

                    line_objPractice = {};
                    ptsPractice = [];
                    isDownPractice = false;
                },
                mouseout: function (layer) {
                    $(this).setLayer("practice" + practice_name, line_objPractice).drawLayers();
                }
            };


            //Setup Drawing Surfaces for Test
            $canvasPractice.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 800, height: 450,
                fromCenter: false,
                name: 'practice'
            }).setLayer('practice', drawingObject);
            $canvas1.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 460, height: 470,
                fromCenter: false,
                name: 'canvas1'
            }).setLayer('canvas1', drawingObject);


            //Scroll down to the bottom of the page.
            var objDiv = document.getElementById("forwardButton");
            objDiv.scrollTop = objDiv.scrollHeight;
        });


        //Submission of test
        $('form').on('submit', function(e) {
            var c = document.getElementById("RCFT1");
            var dataURL = c.toDataURL("image/png");
            /*window.open(c.toDataURL('image/png'));*/

            //Calculate time taken for this test
            var startTime = document.getElementById('timer').value;
            var endTime = performance.now();
            var elapsedTime = endTime - startTime;
            var userID = getUrlVars()['id'];
            console.log("Elapsed time = " + elapsedTime);

            var data = {
                imgBase64: dataURL,
                timeTaken: elapsedTime,
                name: "reyComplexFigure"
            };

            $.post("http://api.girlscouts.harryatwal.com/participant/" + userID + "/reyComplexFigure", data)
                .done(function (o) {
                    console.log('saved');
            });

            e.preventDefault();
        });
    </script>
{% endblock %}
