{% extends 'base.twig' %}

{% block title %}Test 1{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-title">
                <h1>Welcome to EMBRACED Project</h1>
            </div>
            <div class="col-md-12">
                <p>We are going to be asking you some questions about yourself. Please remember that you are free to skip any question that may bother you, although we kindly ask you to complete as much of this questionnaire as possible. Thank you for your participation.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra %}{% endblock %}
{% block script %}{% endblock %}