{% extends 'base.twig' %}
{% block css %}
    <style type="text/css">
        img.img-responsive {
            margin: 0 auto;
        }
        .step h3.popover-title {
            margin-bottom: 0;
        }
        body {
            overflow: hidden;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-title">
                <h2>{{trailMakingTest}}</h2>
            </div>
        </div>
    </div>

    <section class="container" id="main">
        <div id="survey_container">
            <div id="top-wizard">
                <strong>Progress <span id="location"></span></strong>
                <div id="progressbar"></div>
                <div class="shadow"></div>
            </div>
            <form name="trailMakingTest" id="wrapped" action="" method="POST">
                <!-- Trail Making Test start -->
                <div id="middle-wizard">
                    <div class="step row">
                        <div class="col-md-12" style="text-align: center">
                            <p>{{trailMakingTestInstructions | raw }}</p>
                        </div>
                    </div><!--Instructions-->

                    <!-- Drawing Testt -->
                    <div class="step row">
                        <div class="col-md-12">
                            <canvas id="clockTest" class="center-block" width="800" height="440" style="border:1px solid #000000;"></canvas>
                            <br>
                            <button type="button" class="btn center-block" id="clockTestSave">Save and Continue </button>
                        </div>
                    </div><!-- Question One -->

                    <div class="submit step" id="complete">
                        <i class="icon-check"></i>
                        <h3>Test complete!</h3>
                        <p>On to the next test</p>
                        <button type="button" name="process" class="submit">Submit</button>
                    </div><!-- end submit step -->
                </div>

                <div id="bottom-wizard">
                    <button type="button" name="backward" class="backward">Backward</button>
                    <button id="ForwardButton" type="button" name="forward" class="forward">Forward</button>
                </div><!-- end bottom-wizard -->
            </form>
        </div><!-- end Survey container -->
    </section>
{% endblock %}
{% block extra %}{% endblock %}
{% block script %}
    <script type="text/javascript" src="/assets/js/jcanvas.min.js"></script>
    <script type="text/javascript" src="/assets/js/jTimer.js"></script>
    <script>
        $(document).ready(function() {
            var $canvas = $("canvas");
            var pts = [];
            var lines = [];
            var line_obj = {};
            var isDown = false;

            $canvas.drawRect({
                layer: true,
                x: 0, y: 0,
                width: 800, height: 500,
                fromCenter: false,
                mousedown: function(layer) {
                    line_obj = {
                        strokeStyle: "#000",
                        strokeWidth: 2,
                        data: {
                            joints: 1
                        }
                    };

                    isDown = true;
                    pts.push([layer.eventX, layer.eventY]);
                },
                mousemove: function(layer) {
                    if (isDown) {
                        pts.push([layer.eventX, layer.eventY]);
                        for (var p = 0; p < pts.length; p += 1) {
                            line_obj['x' + (p + 1)] = pts[p][0];
                            line_obj['y' + (p + 1)] = pts[p][1];
                        }
                        $canvas.drawLine(line_obj);
                    }
                    for (var i = 0; i < lines.length; i++) {
                        $canvas.drawLine(lines[i]);
                    }
                },
                mouseup: function(layer) {
                    lines.push(line_obj);

                    for (var i = 0; i < lines.length; i++) {
                        $canvas.drawLine(lines[i]);
                    }

                    line_obj = {};
                    pts = [];
                    isDown = false;
                },
                mouseout: function(layer) {
                    console.log(lines);

                    for (var i = 0; i < lines.length; i++) {
                        $canvas.drawLine(lines[i]);
                    }
                }
            });

            var $save = $('#clockTestSave');
            //After user clicks saves, save whatever is on the canvas
            $save.click(function() {
                var c = document.getElementById("clockTest");
                var dataURL = c.toDataURL("image/png");

                $.ajax({
                    type: "POST",
                    url: "saveImage.php",
                    data: {
                        imgBase64: dataURL
                    }
                }).done(function(o) {
                    console.log('saved');
                    document.getElementById("ForwardButton").click();
                });
            });
        });



    </script>
{% endblock %}
